:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  background-color: var(--cream);
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 16px;
}

.card {
  display: grid;
  grid-row: 1fr 1fr;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  max-width: 35rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 {
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

p {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.price {
  display: flex;
  align-items: center;
  flex: 1;
}

span {
  width: 100%;
}

.discounted-price {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.regular-price {
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

button {
  border: none;
  background-color: var(--dark-cyan);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  color: var(--white);
  border-radius: 8px;
}

button:hover {
  background-color: var(--very-dark-blue);
}

.blue {
  background-color: aqua;
}

.red {
  background-color: red;
}

@media screen and (min-width: 520px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
